/* Style the section using
    flex,
    flex-direction,
    gap,
    margin,
    padding,
    background-color,
    border-radius,
    max-width
 */
 body {
    text-align: center;
 }
 article {
    display:flex;
    flex-direction: row;
    gap:10px;
    margin-bottom: 10px;
     height:300px;
    width:300px;
    display: inline-block;
    border:2px solid black;
    background-color: white;
    margin-top:20px;
 
 }
    
 .container{
    width :600px;
    height:1000px;
    border-style: solid;
    background-color: bisque;
    transform: rotate(360deg);
    margin-left: 100px;
    

 } 
  h2 {
    text-align: left;
  }

  article {
    color:red;
   }
  @media screen and (max-width: 900px) {
    article{
        color: green;
}
}
  .container{
    background-color:grey;
  }
  @media screen and (max-width: 900px) {
    .container{
        background-color:black;
    }
}